body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eef;
}

.header {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Kalam', cursive;    
    background-color: #4af;
}

.list {
    font-size: 20px;
}

.main {
    padding: 20px;
}

.map {
    height: 550px;
    margin: auto;
}

.side {
    padding: 20px;
}

li:hover{
	font-size: 30px;
}

.anchor {
    color: #4af;
}

h3 {
    font-family: 'Kalam', cursive;
    font-size: 18px; 
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}